@inject NavigationManager nm

@code {

string _prefix = "";
string _suffix = "";

protected override void OnInitialized()
{
    if (nm.Uri.Contains("group/"))
    {
        _prefix = "/group/" + nm.ToBaseRelativePath(nm.Uri).Split("/")[1].Split("?")[0];
        if (nm.Uri.Contains("?"))
        {
            _suffix = "?" + nm.Uri.Split("?")[1];
        }
    }
}
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mampf.Link</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@HomeLink()" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Order
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@OverviewLink()" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Overview (Legacy)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@AddLink()" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manual Add (Legacy)
            </NavLink>
        </div>
        @if (nm.Uri.Contains("admin="))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@FinanceLink()" Match="NavLinkMatch.All">
                    <span class="bi bi-bank-nav-menu" aria-hidden="true"></span> Finanzen
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@CartLink()" Match="NavLinkMatch.All">
                    <span class="bi bi-cart-check" aria-hidden="true"></span> Cart
                </NavLink>
            </div>
        }
    </nav>
</div>


@code
{
    private string HomeLink()
    {
        return _prefix + _suffix;
    }
    
    private string OverviewLink()
    {
        return _prefix + "/overview" + _suffix;
    }
    
    private string AddLink()
    {
        return _prefix + "/add" + _suffix;
    }
    
    private string FinanceLink()
    {
        return _prefix + "/finance" + _suffix;
    }

    private string CartLink()
    {
        return _prefix + "/cart" + _suffix;
    }
}
