@using GroupOrder.Data
@using Microsoft.EntityFrameworkCore

@implements IDisposable

@inject IDbContextFactory<GroupContext> DbContextFactory
@inject NavigationManager NavigationManager
@inject ILogger<CreateGroup> Logger

<EditForm EditContext="_editContext" OnValidSubmit="Submit"
          FormName="group-create-form">
    <DataAnnotationsValidator/>

    <div class="row g-3">
        <div class="col-12 col-lg-5 offset-lg-3">
            <h3 class="h3 fw-normal">Welcome to @(OrgName ?? "Mampf.Link")</h3>
        </div>
        <CreateGroupFormItem>
            <InputText
                id="group_name"
                placeholder=" "
                class="form-control"
                @bind-Value="Model!.GroupName"/>
            <label for="group_name">Group Name:</label>
        </CreateGroupFormItem>
        <CreateGroupFormItem>
            <InputTextArea
                placeholder=" "
                id="group_description"
                class="form-control"
                @bind-Value="Model!.Description"
                style="height: 100px"/>
            <label for="group_description">Description (optional):</label>
        </CreateGroupFormItem>
        <CreateGroupFormItem>
            <InputText
                id="menu_url"
                placeholder=" "
                class="form-control"
                @bind-Value="Model!.MenuUrl"/>
            <label for="group_name">Menu URL (optional):</label>
        </CreateGroupFormItem>
        <CreateGroupFormItem>
            <InputDate
                id="closingTime"
                class="form-control"
                @bind-Value="Model!.ClosingTime"
                type="@InputDateType.DateTimeLocal"
            />
            <label for="group_description">Closing Time:</label>
        </CreateGroupFormItem>
        <CreateGroupFormItem>
            <InputSelect id="payment_type" class="form-select form-control"
                         @bind-Value="@Model.PaymentType">
                <option value="@PaymentType.Pay" default>Enabled</option>
                <option value="@PaymentType.NoNeedToPay">Host pays everything
                </option>
                <option value="@PaymentType.NoPrices">Disabled</option>
            </InputSelect>
            <label for="payment_type">Payments:</label>
        </CreateGroupFormItem>
        @if (Model!.PaymentType == PaymentType.Pay)
        {
            <CreateGroupFormItem>
                <InputText
                    placeholder=" "
                    id="paypal_username"
                    class="form-control"
                    @bind-Value="Model!.PaypalUsername"/>
                <label for="paypal_username">Your PayPal Username
                    (optional):</label>
            </CreateGroupFormItem>
            <CreateGroupFormItem>
                <InputText
                    placeholder=" "
                    id="iban"
                    class="form-control"
                    @bind-Value="Model!.IBAN"/>
                <label for="iban">Your IBAN (optional):</label>
            </CreateGroupFormItem>
            <CreateGroupFormItem>
                <InputText
                    placeholder=" "
                    id="bank_name"
                    class="form-control"
                    @bind-Value="Model!.BankName"/>
                <label for="bank_name">Legal name of account holder (optional):</label>
            </CreateGroupFormItem>
        }
        <CreateGroupFormItem>
            <InputSelect id="editing_rule" class="form-select form-control"
                         @bind-Value="@Model.EditingRule">
                <option value="@EditingRule.NeverAllow">Never (only Group Leader can
                    edit)
                </option>
                @if (Model!.PaymentType == PaymentType.Pay)
                {
                    <option
                        value="@EditingRule.AllowBeforeCartAndPaymentAndDeadline">If
                        not in Cart, not paid and before Closing Time
                    </option>
                }
                <option value="@EditingRule.AllowBeforeCartAndDeadline">If not
                    in Cart and before Closing Time
                </option>
                <option value="@EditingRule.AllowBeforeDeadline">If before Closing
                    Time (not recommended, causes side effects)
                </option>
            </InputSelect>
            <label for="payment_type">Allow edits:</label>
        </CreateGroupFormItem>
        @if (OrgPassword != null)
        {
            <CreateGroupFormItem>
                <InputText
                    placeholder=" "
                    type="password"
                    id="admincode_input"
                    class="form-control"
                    @bind-Value="OrgPasswordInput"/>
                <label for="admincode_input">Organization password:</label>
            </CreateGroupFormItem>
        }
        <div class="col-12 col-lg-5 offset-lg-3">
            <div>
                <ValidationSummary/>
            </div>
            <button class="btn btn-primary" type="submit" disabled="@_savingInProgress">
                @if (_savingInProgress)
                {
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Saving...</span>
                }
                else
                {
                    <span>Create Group</span>
                }
            </button>
        </div>
    </div>
</EditForm>