@page "/group/{GroupSlug}/cart"

@using GroupOrder.Components.Layout
@using GroupOrder.Data
@using GroupOrder.Services.Common
@using GroupOrder.Components.Error
@rendermode InteractiveServer

@layout AppLayout

@inject IGroupService GroupService
@inject IAdminService AdminService

<PageTitle>Mampf.Link @GroupService.CurrentGroup?.GroupName Cart-Helper</PageTitle>

@if (GroupService.CurrentGroup != null && AdminService.IsAdmin())
{
    <h1>Left to add to Cart: @GroupService.CurrentGroup?.GroupName</h1>


    <table class="table">
        <thead>
        <tr>
            <th>
                Food
            </th>
            @if (GroupService.CurrentGroup!.PaymentType != PaymentType.NoPrices)
            {
                <th>
                    Price
                </th>
            }
            <th>
                Mark as Added
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (Order order in GroupService.CurrentGroup!.Orders)
        {
            @if (order.AddedToCart == true)
            {
                continue;
            }

            <tr>
                <td>
                    @order.Food
                </td>
                @if (GroupService.CurrentGroup.PaymentType != PaymentType.NoPrices)
                {
                    <td>
                        @order.GetPrice()€
                        @if (order.Person.GetPriceToPay(true) <= 0)
                        {
                            <span style="color: green"> (Paid)</span>
                        }
                    </td>
                }
                <td>
                    <button class="primary" @onclick="() => SetAdded(order)">Added</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <br>
    <br>
    @if (GroupService.CurrentGroup.PaymentType != PaymentType.NoPrices)
    {
        <p>You should have added @Order.GetPrice(CalculateAddedSum())€ to your cart.<br>
            The total will be @Order.GetPrice(CalculateTotalSum())€.</p>
    }

    <button class="btn btn-danger" @onclick="ResetCart">Reset cart.</button>
}
else
{
    <FourZeroThreeError/>
}