@page "/group/{GroupSlug}/finance"
@implements IDisposable

@using GroupOrder.Components.Layout
@using GroupOrder.Data
@using GroupOrder.Services.Common
@rendermode InteractiveServer

@layout AppLayout

@inject NavigationManager nm
@inject IGroupService gs
@inject IAdminService adminService

<PageTitle>Mampf.Link @gs.Group?.GroupName Finances</PageTitle>

@if (gs.Group != null && adminService.IsAdmin())
{
    <h1>Finance Overview: @gs.Group?.GroupName</h1>
    

    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Payment Status
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (Order order in gs.Group!.Orders)
        {
            <tr>
                <td>
                    @order.Person.Name
                </td>
                <td>
                    @order.GetPrice()€
                </td>
                <td style="padding-top: 3px; padding-bottom: 0">
                    <InputSelect class="form-select form-select-sm" style="max-width: 200px" @bind-Value="@order.PaymentStatus" @oninput="(x) => Change(order, x)">
                        <option value="@PaymentStatus.Unpaid">Unpaid</option>
                        <option value="@PaymentStatus.PaymentPending">Payment Pending</option>
                        <option value="@PaymentStatus.Paid">Paid</option>
                    </InputSelect>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <p>Saving is no longer necessary. It saves automatically :)</p>
}
else
{
    <h2>Go back to <a href="/group/@gs.Group?.GroupSlug">the My Order Page</a></h2>
}

@code {
    [Parameter]
    public string? GroupSlug { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        gs.OnGroupReload += GsOnOnGroupReload; 
    }
    
    private void GsOnOnGroupReload(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    private async void Change(Order order, ChangeEventArgs x)
    {
        if (Enum.TryParse(x.Value as string, out PaymentStatus status))
        {
            gs.ReloadRestriction.WaitOne();
            order.PaymentStatus = status;
            await gs.Save();
            gs.ReloadRestriction.Release();
        }
    }
    
    public void Dispose()
    {
        gs.OnGroupReload -= GsOnOnGroupReload;
    }
}
