@page "/group/{GroupSlug}"
@implements IDisposable
@using GroupOrder.Components.Layout
@using GroupOrder.Data
@using GroupOrder.Services.Common
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using GroupOrder.Components.MyOrder
@rendermode InteractiveServer

@layout AppLayout

@inject ProtectedLocalStorage ProtectedLocalStorage
@inject IGroupService GroupService
@inject IAdminService AdminService

<PageTitle>Mampf.Link @GroupService.CurrentGroup?.GroupName</PageTitle>

<div class="row">
    @if (GroupService.CurrentGroup != null)
    {
        <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
            <h2>@GroupService.CurrentGroup.GroupName</h2>
            <GroupInfoCard></GroupInfoCard>
        </div>
        @if (GroupService.CurrentPerson != null)
        {
            <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                @if (_showAllOrders)
                {
                    <h2>All orders:</h2>
                }
                else
                {
                    <h2>Your order:</h2>
                }
                <EditForm EditContext="_editContext" OnValidSubmit="AddToOrder"
                          FormName="order-form">
                    <table class="table">
                        <thead>
                        <tr>
                            @if (_showAllOrders)
                            {
                                <th>
                                    Person
                                </th>
                            }
                            <th>
                                Food
                            </th>
                            @if (GroupService.CurrentGroup.PaymentType != PaymentType.NoPrices)
                            {
                                <th>
                                    Price
                                </th>
                            }
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (!_showAllOrders)
                        {
                            @foreach (Order order in GroupService.CurrentPerson!.Orders)
                            {
                                <tr>
                                    <td>
                                        @order.Food
                                    </td>
                                    @if (GroupService.CurrentGroup.PaymentType != PaymentType.NoPrices)
                                    {
                                        <td>
                                            @order.GetPrice()€
                                        </td>
                                    }
                                    <td>
                                        <DeleteOrder Order="@order"/>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            @foreach (Order order in GroupService.CurrentGroup.Orders)
                            {
                                <tr>
                                    <td>
                                        @order.Person.Name
                                    </td>
                                    <td>
                                        @order.Food
                                    </td>
                                    @if (GroupService.CurrentGroup.PaymentType != PaymentType.NoPrices)
                                    {
                                        <td>
                                            @order.GetPrice()€
                                        </td>
                                    }
                                    <td>
                                        @if (order.Person == GroupService.CurrentPerson)
                                        {
                                            <DeleteOrder Order="@order"/>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        @if (!IsOrderingClosed())
                        {
                            <tr>
                                @if (_showAllOrders)
                                {
                                    <td>
                                        @GroupService.CurrentPerson?.Name
                                    </td>
                                }
                                <td>
                                    <InputText min-length="1" max-length="100"
                                               placeholder="Pizza Margherita" class="form-control"
                                               @bind-Value="OrderFood"/>
                                </td>
                                @if (GroupService.CurrentGroup.PaymentType != PaymentType.NoPrices)
                                {
                                    <td>
                                        <InputNumber min="0" step="0.01" placeholder="10.00"
                                                     class="form-control" @bind-Value="OrderPrice"/>
                                    </td>
                                }
                                <td>
                                    <button class="btn btn-primary" type="submit">Add</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <ValidationMessage For="() => _editContext!"/>
                </EditForm>
                <InputCheckbox @bind-Value="_showAllOrders" id="showAllOrders"/>
                <label style="padding-left: 5px" for="showAllOrders">Show orders of other
                    people</label>
            </div>

            <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                @if (GetPriceToPay() > 0)
                {
                    <h2>Pay here!</h2>
                    <p>
                        You still need to pay @Order.GetPrice(GetPriceToPay())€ to the group leader.
                        <br/>
                        Please mark your Payment as Paid after you have paid the group leader.
                    </p>
                    @if (GroupService.CurrentGroup.PaypalUsername != null)
                    {
                        <p>You can use the Paypal Button to generate a paypal.me link for the
                            correct amount to pay back the group leader.</p>
                        <a class="btn btn-primary" style="margin-right: 2px" target="_blank"
                           href="https://www.paypal.com/paypalme/@GroupService.CurrentGroup.PaypalUsername/@Order.GetPrice(GetPriceToPay())">Send
                            money via Paypal</a><br/><br/>
                    }
                    
                    @if (GroupService.CurrentGroup.GetPaymentQR(GroupService.CurrentPerson!) != null)
                    {
                        <PaymentQR Content="@GroupService.CurrentGroup.GetPaymentQR(GroupService.CurrentPerson!)" />
                    }

                    <p>Afterwards: mark as paid with
                        <InputSelect @bind-Value="_selectedPaymentMethod">
                            <option value="@PaymentMethod.Other" hidden>Select here</option>
                            <option value="@PaymentMethod.Paypal">Paypal</option>
                            <option value="@PaymentMethod.WireTransfer">wire transfer</option>
                            <option value="@PaymentMethod.Cash">cash</option>
                            <option value="@PaymentMethod.Other">other</option>
                        </InputSelect>
                        @if (_selectedPaymentMethod != null)
                        {
                            <button style="margin-left: 5px" class="btn btn-secondary"
                                    @onclick="Paid">save
                            </button>
                        }
                    </p>
                }
                else if (GetPriceToPay() < 0)
                {
                    <h2>Payments</h2>
                    <p>
                        You seem to have overpaid @Order.GetPrice(GetPriceToPay() * -1)€.
                        Please contact the group leader.
                    </p>
                }
                else if (GroupService.CurrentGroup.PaymentType == PaymentType.NoNeedToPay)
                {
                    <h2>Group leader pays!</h2>
                    <p>You are good to go!</p>
                }
            </div>
        }

        @if (GroupService.CurrentPerson == null)
        {
            <CreatePerson></CreatePerson>
        }
    }
</div>