@page "/group/{GroupSlug}"
@implements IDisposable

@using GroupOrder.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

@inject IDbContextFactory<GroupContext> DbFactory
@inject ProtectedLocalStorage ProtectedLocalStorage

<PageTitle>Mampf.Link @Group?.GroupName</PageTitle>

@if (Group != null)
{
    @if (Person != null)
    {
        <h1>Hi @Person.Name!</h1>
        <h2>Welcome to @Group.GroupName</h2>
        <p>@Group.Description</p>
        
        <h2>Order here!</h2>
        <EditForm EditContext="editContext" OnValidSubmit="AddToOrder" FormName="order-form">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Food
                </th>
                @if (Group.PaymentType != PaymentType.NO_PRICES)
                {
                    <th>
                        Price
                    </th>
                }
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (Order order in Person.Orders)
            {
                <tr>
                    <td>
                        @order.Food
                    </td>
                    @if (Group.PaymentType != PaymentType.NO_PRICES)
                    {
                        <td>
                            @order.GetPrice()€
                        </td>
                    }
                    <td></td>
                </tr>
            }
            <tr>
                <td><InputText min-length="1" max-length="100" placeholder="Pizza Margherita" class="form-control" @bind-Value="OrderFood"/></td>
                @if (Group.PaymentType != PaymentType.NO_PRICES)
                {
                    <td><InputNumber min="0" step="0.01" placeholder="10.00" class="form-control" @bind-Value="OrderPrice"/></td>
                }
                <td><button class="btn btn-primary" type="submit">Add</button></td>
            </tr>
            </tbody>
        </table>
            <ValidationMessage For="() => editContext!" />
        </EditForm>
        
        @if (GetPriceToPay() > 0)
        {
            <h2>Pay here!</h2>
            <p>
                You still need to pay @Order.GetPrice(GetPriceToPay())€ to the group leader. <br/>
                Please mark your Payment as Paid after you have paid the group leader.
            </p>
            @if (Group.PaypalUsername != null)
            {
                <p>You can use the Paypal Button to generate a paypal.me link for the correct amount to pay back the group leader.</p>
                <a class="btn btn-primary" style="margin-right: 2px" target="_blank" href="https://www.paypal.com/paypalme/@Group.PaypalUsername/@Order.GetPrice(GetPriceToPay())">Send money via Paypal</a>
            }
            <button class="btn btn-secondary" @onclick="Paid">Mark as paid</button>
        } else if (Group.PaymentType == PaymentType.NO_NEED_TO_PAY)
        {
            <h2>Host pays!</h2>
            <p>You are good to go!</p>
        }
    }
    @if (Person == null && NoPerson)
    {
        <h1>You are new to the group!</h1>
        <h2>Enter your name to join @Group.GroupName</h2>
        <p>@Group.Description</p>
        
        <div class="form-floating" style="max-width: 300px;display: inline-block">
            <InputText
                id="group_name"
                placeholder=" "
                class="form-control"
                @bind-Value="NewName"/>
            <label for="group_name">Your name:</label>
        </div>
        <button class="btn btn-primary" @onclick="CreatePerson" style="height: 58px">Join Group!</button>

    }
}

@code {
    
    private Group? Group { get; set; }
    private Person? Person { get; set; }
    // Name of the person that is getting created
    private String? NewName { get; set; }
    
    // Infos of food that is getting created
    private String? OrderFood { get; set; }
    private Decimal? OrderPrice { get; set; }
    private EditContext? editContext;
    private ValidationMessageStore? messageStore;

    private bool Loading { get; set; } = false;
    private bool NotFound { get; set; } = false;
    private bool NoPerson { get; set; } = false;

    private GroupContext? _context;
    
    [Parameter]
    public string? GroupSlug { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        if (_context == null)
        {
            _context = DbFactory.CreateDbContext();
        }

        await LoadOrdersAsync();
        
        await base.OnParametersSetAsync();
    }

    protected override void OnInitialized()
    {
        editContext = new(this);
        editContext.OnValidationRequested += HandleValidationRequested;
        messageStore = new(editContext);
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // find local person
        // this needs to be done here because it uses javascript interop
        if (Group != null && Person == null)
        {
            var personId = await ProtectedLocalStorage.GetAsync<int>("grouporder_person_" + Group.Id);
            if (personId.Success)
            {
                Person = Group.Persons.FirstOrDefault(p => p.Id == personId.Value);
                if (Person == null)
                {
                    NoPerson = true;
                }
            }
            else
            {
                NoPerson = true;
            }
            StateHasChanged();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    }

    // Loads the contact.
    private async Task LoadOrdersAsync()
    {
        if (Loading)
        {
            return; //avoid concurrent requests.
        }

        Group = null;
        Loading = true;
        
        if (_context!.Groups is not null)
        {
            Group = await _context.Groups
                .Include(group => group.Orders)
                .ThenInclude(order => order.Person)
                .Include(group => group.Persons)
                .SingleOrDefaultAsync(
                    c => c.GroupSlug == GroupSlug);

            if (Group is null)
            {
                NotFound = true;
            }
        }

        Loading = false;
    }

    private async void Paid()
    {
        if (Person == null) return;
        
        foreach (var order in Person.Orders)
        {
            await _context!.Entry(order).ReloadAsync();
            if (order.PaymentStatus == PaymentStatus.Unpaid)
            {
                order.PaymentStatus = PaymentStatus.PaymentPending;
            }
        }

        await _context!.SaveChangesAsync();
    }

    private int GetPriceToPay()
    {
        if (Person == null || Group == null) return 0;
        if (Group.PaymentType != PaymentType.PAY) return 0;
        return Person.Orders.Sum(o => o.PaymentStatus == PaymentStatus.Unpaid ? o.Price : 0) ?? 0;
    }

    private void CreatePerson()
    {
        if (Group == null) return;
        if (NewName == null) return;
        if (NewName.Length is > 100 or 0) return;
        
        Person Person = new Person
        {
            Group = Group,
            Name = NewName
        };

        _context!.Add(Person);
        _context.SaveChanges();

        this.Person = Person;
        
        ProtectedLocalStorage.SetAsync("grouporder_person_" + Group.Id, Person.Id);
    }
    
    private void HandleValidationRequested(object? sender,
        ValidationRequestedEventArgs args)
    {
        messageStore?.Clear();
        
        if (string.IsNullOrEmpty(OrderFood) || OrderFood.Length > 100)
        {
            messageStore?.Add(() => editContext!, "You must enter a Food Choice between 1 and 100 chars.");
        }

        if (Group is null || Group.PaymentType != PaymentType.NO_PRICES)
        {
            if (OrderPrice == null | OrderPrice < 0)
            {
                messageStore?.Add(() => editContext!, "Price must be greater than 0.");
            }

            if (OrderPrice is > 2000)
            {
                // We produce an overflow if its bigger than 21474836€
                // We also produce overflows if the sum of the total order is bigger than 21474836€
                messageStore?.Add(() => editContext!, "Price must be smaller or equal to 2000€.");
            }
        }
    }

    private void AddToOrder()
    {
        Order NewOrder = new();
        NewOrder.Food = OrderFood!;
        if (Group!.PaymentType == PaymentType.NO_PRICES)
        {
            NewOrder.Price = 0;
        }
        else
        {
            NewOrder.Price = (int)(OrderPrice! * 100);
        }
        NewOrder.Group = Group!;
        NewOrder.Person = Person!;
        if (Group != Person!.Group) return; // this should never happen
        NewOrder.AddedToCart = false;
        NewOrder.PaymentStatus = PaymentStatus.Unpaid;

        _context.Add(NewOrder);
        _context.SaveChanges();
        _context.Entry(Group).Reload();
        ResetPendingOrder();
        StateHasChanged();
    }
    
    private void ResetPendingOrder()
    {
        OrderPrice = null;
        OrderFood = null;
        editContext!.OnValidationRequested -= HandleValidationRequested;
        editContext = new(this);
        editContext.OnValidationRequested += HandleValidationRequested;
        messageStore = new(editContext);
    }
    
    public void Dispose()
    {
        if (editContext is not null)
        {
            editContext.OnValidationRequested -= HandleValidationRequested;
        }
    }
    
}
