@page "/org/{VanitySlug}"
@using GroupOrder.Data
@using Microsoft.EntityFrameworkCore
@using Group = GroupOrder.Data.Group
@using GroupOrder.Components.Error

@inject IDbContextFactory<GroupContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Mampf.Link</PageTitle>

@if (_vanityUrl != null)
{
    <div class="container mt-3">
        @if (GetExistingTimeOfCurrentGroup() > 120)
        {
            <CreateGroup OrgName="@_vanityUrl.VanityName" OrgPassword="@_vanityUrl.AdminCode"
                         CustomSubmitCallback="@GroupCreateCallback"
                         DefaultGroupName="@(_vanityUrl.VanityName + " " + DateTime.Now.Day + "." + DateTime.Now.Month)"/>
        }
        @if (GetExistingTimeOfCurrentGroup() <= 120)
        {
            <div class="row">
                <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                    <h3 class="h3 fw-normal">Welcome to @_vanityUrl.VanityName</h3>
                </div>
                <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                    <p>Your current @_vanityUrl.VanityName group is
                        only @GetExistingTimeOfCurrentGroup() minutes old. Please wait 120 minutes
                        before creating a new one or create one with a random string <a href="/">here</a>.
                    </p>
                </div>
            </div>
        }
        <br/>
        <div class="row">
            <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                <div>
                    <h3>History:</h3>
                    <ul>
                        @foreach (Group group in _vanityUrl.History.Reverse())
                        {
                            <li><a href="/group/@group.GroupSlug">@group.GroupName</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <FourZeroFourError/>
}