@page "/org/{VanitySlug}"
@implements IDisposable
@using GroupOrder.Data
@using Microsoft.EntityFrameworkCore
@using Group = GroupOrder.Data.Group
@using GroupOrder.Components.Error

@rendermode InteractiveServer

@inject IDbContextFactory<GroupContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Mampf.Link</PageTitle>

@if (Vanity != null)
{
    <div class="container">
        @if (getExistingTimeOfCurrentGroup() > 120)
        {
            <EditForm EditContext="_editContext" OnValidSubmit="Submit"
                      FormName="group-create-form">
                <AntiforgeryToken/>
                <div class="row">
                    <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                        <h3 class="h3 fw-normal">Welcome to @Vanity.VanityName</h3>
                    </div>
                    <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                        <div class="form-floating">
                            <InputText
                                id="group_name"
                                placeholder=" "
                                class="form-control"
                                @bind-Value="Model!.GroupName"/>
                            <label for="group_name">Group Name:</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                        <div class="form-floating">
                            <InputTextArea
                                placeholder=" "
                                id="group_description"
                                class="form-control"
                                @bind-Value="Model!.Description"
                                style="height: 100px"/>
                            <label for="group_description">Description (optional):</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                        <div class="form-floating">
                            <InputText
                                id="menu_url"
                                placeholder=" "
                                class="form-control"
                                @bind-Value="Model!.MenuUrl"/>
                            <label for="group_name">Menu URL (optional):</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                        <div class="form-floating">
                            <InputDate
                                id="closingTime"
                                class="form-control"
                                @bind-Value="Model!.ClosingTime"
                                type="@InputDateType.DateTimeLocal"
                            />
                            <label for="group_description">Closing Time:</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                        <div class="form-floating">
                            <InputSelect id="payment_type" class="form-select form-control"
                                         @bind-Value="@Model.PaymentType">
                                <option value="@PaymentType.Pay" default>Enabled</option>
                                <option value="@PaymentType.NoNeedToPay">Host pays everything
                                </option>
                                <option value="@PaymentType.NoPrices">Disabled</option>
                            </InputSelect>
                            <label for="payment_type">Payments:</label>
                        </div>
                    </div>
                    @if (Model!.PaymentType == PaymentType.Pay)
                    {
                        <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                            <div class="form-floating">
                                <InputText
                                    placeholder=" "
                                    id="paypal_username"
                                    class="form-control"
                                    @bind-Value="Model!.PaypalUsername"/>
                                <label for="paypal_username">Your PayPal Username
                                    (optional):</label>
                            </div>
                        </div>
                    }
                    <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                        <div class="form-floating">
                            <InputText
                                placeholder=" "
                                type="password"
                                id="admincode_input"
                                class="form-control"
                                @bind-Value="VanityAdminCodeInput"/>
                            <label for="admincode_input">Organization password:</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                        <div class="form-floating">
                            <InputSelect id="editing_rule" class="form-select form-control"
                                         @bind-Value="@Model.EditingRule">
                                <option value="@EditingRule.NeverAllow">Never (only Group Leader can
                                    edit)
                                </option>
                                @if (Model!.PaymentType == PaymentType.Pay)
                                {
                                    <option
                                        value="@EditingRule.AllowBeforeCartAndPaymentAndDeadline">If
                                        not in Cart, not paid and before Closing Time
                                    </option>
                                }
                                else
                                {
                                    <option value="@EditingRule.AllowBeforeCartAndDeadline">If not
                                        in Cart and before Closing Time
                                    </option>
                                }
                                <option value="@EditingRule.AllowBeforeDeadline">If before Closing
                                    Time (not recommended, causes side effects)
                                </option>
                            </InputSelect>
                            <label for="payment_type">Allow edits:</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                        <div>
                            <ValidationMessage For="() => Model!"/>
                        </div>
                        <button class="btn btn-primary" type="submit">Create Group</button>
                    </div>
                </div>
            </EditForm>
        }
        @if (getExistingTimeOfCurrentGroup() <= 120)
        {
            <div class="row">
                <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                    <h3 class="h3 fw-normal">Welcome to @Vanity.VanityName</h3>
                </div>
                <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                    <p>Your current @Vanity.VanityName group is
                        only @getExistingTimeOfCurrentGroup() minutes old. Please wait 120 minutes
                        before creating a new one or create one with a random string <a href="/">here</a>.
                    </p>
                </div>
            </div>
        }
        <br/>
        <div class="row">
            <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
                <div>
                    <h3>History:</h3>
                    <ul>
                        @foreach (Group group in Vanity.History.Reverse())
                        {
                            <li><a href="/group/@group.GroupSlug">@group.GroupName</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <FourZeroFourError/>
}